#dash {
    display: flex;
}

#centerContainer {
    background-color: rebeccapurple;
    width: 300px;
    height: 130px;
}

#centerPiece{
    background-color: black;
    width: inherit;
    height: 130px;
}

.displayText {
    color: deeppink;
    font-size: 22px;
    font-family: monospace;
}

td {
    padding-top: 0px;
    padding-bottom: 0px;
}

table {
    padding-top: 10px;
    padding-left: 10px;
}